/* Global */
@font-face {
	font-family: AvenirStd;
	src: url('assets/fonts/AvenirStd.otf');
}

@font-face {
	font-family: AvenirLight;
	src: url('assets/fonts/AvenirLight.otf');
}

@font-face {
	font-family: AvenirBlack;
	src: url('assets/fonts/AvenirBlack.otf');
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
	font-family: AvenirStd, Raleway, Roboto, sans-serif;	
}

body, section, footer {
	max-width: 1600px;
}

/* Header */

header {
	height: 2rem;
	width: 97%;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: white;
	max-width: 1580px;
}

logo {
	height: 32px;
	display: flex;
	align-items: center;
}

logo > p {
	font-size: 1.25rem
}

logo > img {
	width: 2rem;
}

.cobold {
	color: black;
	font-weight: bold;
}

.greyed {
	color: grey;
}

ul {
	list-style-type: none;
	display: flex;
}

li {
	margin-left: 1rem;
}


/* Main Content */
main {
	position: relative;
	top: 4rem;
	left: 0;	
}

/* Section 1: Learn Something */
#banner {
	background-color: lightgray;
	padding: 2rem 1.5rem;
	display: flex;	
	align-items: center;	
}

#banner > img {
	max-width: 60%;	
}

.bannertxt {
	display: flex;
	flex-direction: column;
	min-width: 25%;
	max-width: 25%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 1.5rem;
}

h1 {
	font-family: AvenirBlack, Raleway, Roboto, sans-serif;
	font-weight: normal;
	font-size: 2rem;
	margin: 0;
}

h2 {
	font-size: 1.25rem;
}

button {
	text-align: center;
	justify-self: center;
	padding: .5rem;
	background-color: dimgrey;
	color: white;
	font-family: AvenirStd, Raleway, Roboto, sans-serif;
	font-size: 1rem;
	margin-top: .5rem
}

/* Section 2: Infomation / Keep Practicing */

#information {
	display: flex;
	align-items: flex-start;	
}

.infoleft {
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem;	
	max-width: 60%;
}

/* Left Side */
.blurb {
	margin: 2rem 0;	
}

.blurb > h1 {
	margin-bottom: 1.5rem;
}

.blurb > p {
	margin-top: 2rem;
	font-size: .75rem
}

/* Right Side */
.inforight {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	max-width: 40%;
}

.infocard {
	display: flex;
	flex-grow: 0;
	align-items: center;		
	padding: 2rem 1rem;
}

.infocard > img {
	width: 35%;	
}

.infotxt {
	width: 65%;
	margin-left: 2rem;
	padding-right: 5rem;	
}

.infotxt > a {
	text-decoration: none;
	color: deepskyblue;
}

.infocard:nth-of-type(3) {
	background-color: lightgray;
}

/* Section 3: Courses / Start Learning */ 
#courses {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: gainsboro;
}

#courses > h1 {
	margin: 2rem 0;
}

.coursebox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 	
}

.coursecard {
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: white;
	margin: 0 1rem 2rem ;
	max-width: 25%;	
}

.coursedesc {
	padding: 1rem;
	padding-bottom: 0;
}

/* Section 4: Thesis Exhibit */

#thesis {
	display: flex;
	align-items: flex-start;		
	flex-direction: column
}

#thesis > h1 {	
	width: 100%;
	text-align: center;
	margin: 2rem 0 0;
	flex-shrink: 0;
}

.thesiswrapper {
	display: flex;
}

/* Left Side*/

.thesisleft {
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem;	
	max-width: 60%;
}

/* Right Side */

.thesisright {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 2rem;
	max-width: 40%;
}

.thesiscard {
	display: flex;	
	align-items: center;
	width: 100%;	
}

.thesiscard > img {
	max-width: 35%;
	height: auto;
	padding: 1rem;
}

.thesiscard:nth-of-type(1) {
	background-color: gainsboro;
}

.thesistxt {
	width: 65%;
	margin-left: 1rem;
	padding-right: 4rem;
}

video {
	max-width: 100%;
	border: none;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px gainsboro solid;
	font-size: .75rem;
	margin-top: 2rem;
	padding: .5rem 1.5rem 0;
	color: darkgrey;
}
